
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c7c7c7;
    
}
/********************* NAV *********************/
nav {
    font-weight:bold;
    font-size: 12px;
}
.navbar-nav {
    float: right; 
}

.navbar-default{
        border-top: 4px solid #19191a; 
    border-bottom: 4px solid #19191a;
}
nav a {
     -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}
.navbar {
    -webkit-transition: .50s;
  -moz-transition: .50s;
  -ms-transition: .50s;
  -o-transition: .50s;
  transition: .50s;
}

.navbar-default a.navbartitle{
 display: none;   
}
.navbar-inverse a.navbartitle{
 display:inline;  
    
}
/*
nav .active{
 background-image: url(../img/arrow/active.png) ;
background-repeat: no-repeat;
    background-position: bottom;
}*/

 @media all and (max-width: 768px) {
     .navbartitle{
margin-left: 15px;
    
}
          .side-collapse-container{
              width:100%;
             position: relative;
              right:0;
              transition:right .4s;
          }
          .side-collapse-container.out{
              right:140px;
          }
          .side-collapse {
              background: #c7c7c7;
              top:40px;
              bottom:0;
              right:0;
              width:140px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
              z-index: -2;
              background-image: url(../img/shadow.png);
              background-repeat: no-repeat;
              background-size: ;
             
             
          }
          .side-collapse.in {
                width:0;
                z-index: -2;
          }
            nav .active{
                background-image:none;
        
    }
    .navbar-collapse{
     border-top:none; 
    }
     
    .navbar-default .navbar-nav > li > a {
    color: #19191a;
}
      .navbar-default .navbar-nav > li > a:hover {
    color: #19191a;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
   color:#dc2829;
    
}
}
/********************* SECTION *********************/
section {
    padding-top: 40px;
      background-color: #19191a; 
}
#menu2,#menu3,#menu4,#menu5{

    
}
#titresection {
    color: #777777;
    text-align: center; 
    margin-top:25px;
    margin-bottom: 5px;
    font-size: 24px;
    padding: 0px;
    font-weight: bold;
}
#titresection img{
    height: 26px; 
    margin-right: 10px; 
    margin-top: -13px;
}
/********************* ACCUEIL *********************/
#haut {
    
    margin-top:40px;

}

#haut img{
 width:100%;   
}
#title{
    background-color:#777777;
    color: #19191a;
     margin-top: 20px;
    height: 120px;   
     border-left:20px solid #19191a;
}
#title P{

}
#logo{
        background-image: url(../img/logotest.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    float: left;
    border: 20px solid #19191a;   
}
#bas {
     background-color: #19191a;
   
}
#photo{
    background-image: url(../img/photomehdi.jpg);
    background-size: cover;
    height: 200px;
    margin-top: -60px;
    border: 20px solid #19191a;
}
#quotation {
    background-color: #7a1617;
    margin-top: 0px;
    height: 120px;
    color:#19191a;
    font-weight: bold;
    padding: 5px;
    border-right:20px solid #19191a;
}
#quotation p{
    margin:18px 20px 20px 25px;
}
#quotation img{
 width: 20px;   
}
#quotation img.left{
    float: left;
}
#quotation img.right{
     float: right;
}


@media all and (max-width: 768px) 
{
     #photo{
    margin-top:-10px;
   border:none;
         
         border-right:10px solid #19191a;
    }
    #quotation{
 margin-top: 10px;
        height: 180px;
        border: none;
        
    }

#quotation p{
    margin:15px 12px 15px 12px;
    line-height: 16px;
}

#quotation img{
 width: 12px;   
}

   #quotation img.right{
     float: right;
       position: absolute;
       bottom: 5px;
       right:5px;    
}
    #logo{
      border:none;
        border-left:10px solid #19191a;
    }
    #title{
        margin-top: 0px;
        height: 180px;
        border: none ;
    }
}
/*PHOTO*/



/********************* EXPERIENCE *********************/

.cursor{
    background-color: #dc2829;
    height: 30px;
    width: 30px;
    margin-top: -30px;
    float: right;
}
@media all and (max-width: 768px) 
{
   .cursor{
    height:25px;
       width: 25px;
       margin-top:-25px;
}
}

.panel-group .panel-heading a {
  display: block;
  text-decoration: none;
    color:#19191a;
    font-weight: bold;
  position: relative;
}
.panel-group .panel-heading a:after {
  content: '-';
  position: absolute;
  right: 11px;
  top:-1px;
  font-size:24px;
}
.panel-group .panel-heading a.collapsed:after {
  content: '+';
    position: absolute;
  right: 7px;
  top:-1px;
  font-size:24px;
}
@media all and (max-width: 768px) 
{
.panel-group .panel-heading a:after {

  right: 9px;
  top:-1px;
  font-size:20px;
}
.panel-group .panel-heading a.collapsed:after {
  right: 6px;
  top:-1px;
  font-size:20px;

}
}
.date {
    background-color: #777777;
    color: #19191a;
    height: 30px;
    font-size: 18px;
    padding-top: 4px;
    width: 60px;
    position: absolute;
    text-align: center;
        font-weight: bold;
}
@media all and (max-width: 768px) 
{
   .date{
    font-size: 14px;
       width: 40px;
       height:25px;
}
}

.panel{ margin-bottom:20px;}
.panel-title{
    margin: 0px 40px 0 70px;
    background-color: #777777;
    color: #19191a;
    height: 30px;
    font-size: 18px;
    padding: 4px 4px 4px 10px;
        font-weight: bold;
}
@media all and (max-width: 768px) 
{
    .panel{ margin-bottom:10px;}
   .panel-title{
    font-size: 14px;
       margin: 0 30px 0 45px;
       height:25px;
}
}
.panel-sstitle{
    margin: 2px 40px 2px 70px;
     padding: 0px;
    background-color: #19191a;
    color: #777777;
    height: 20px;
    text-align: right;
    font-style: italic;
    font-size: 14px;
}
@media all and (max-width: 768px) 
{
   .panel-sstitle{
          margin: 0 30px 0 45px;
           font-size: 12px;
}
}
.panel-body{
    border-top: 2px solid #19191a;
    background-color: #777777;
     margin: 0 40px 0 70px;
     color: #19191a;
    font-size: 14px;
    padding: 10px;  
}
@media all and (max-width: 768px) 
{
   .panel-body{
          margin: 0 30px 0 45px;
}
}
.panel-body p{
margin: 0px;}

@media all and (max-width: 768px) 
{
.panel-body p{
    line-height: 14px;
}
}


/********************* COMPETENCES *********************/
#ctg-title{
    text-align: center;}
#ctg-title h4{
    background: #777777;
    color:#19191a;
    font-weight: bold;
    margin:4px 0 0 0;
     font-size: 16px;
    padding-top:3px;}
#sstitle{
    text-align: center;
}
#sstitle h4{
    background-color: #777777;
    color: #19191a;
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    padding-top:2px;
}
#ctg{
    margin-bottom: 80px;
}
#ctg ul{
 margin: 0px;  
}
#infos{
    height:205px;
}
#infos,#qualites,#outils{
    padding: 10px 10px 0px 10px;}
#infos p{ 
    color:#777777;
    font-size: 14px;
    margin-bottom: 0px;
}
#infos li{ 
    color: #777777; 
    list-style:none;
  text-align: right;
    line-height: normal;
   }
#qualites p, #outils p{
    color: #777777;
}
#qualites span, #outils span{
    float: right;
}
#qualites img{
 height: 15px; 
     margin-top: -5px;
}
#outils img{
height:25px;
margin-left: 2px;}
@media all and (max-width: 991px) {
#infos {
    height:175px;
}
#infos p , #qualites , #outils{font-weight: bold;}
#infos li , #infos p, #qualites, #outils{
    font-size: 12px;
}   
    
#ctg-title img{
    width: 80px;}
    #outils img{
        height: 20px;
margin-left: 3px;}
}
/********************* PORTFOLIO *********************/
.carousel-inner .item {
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


.ad1 {
  
    background: url(../img/rea/responsive.jpg) no-repeat center center ; 
}
.ad2 {
    background: url(../img/rea/imagemaquette.jpg) no-repeat ; 
}
.ad3 {
    background: url(../img/rea/.jpg) no-repeat center center ; 
}
.ad4 {
    background: url(../img/rea/.jpg) no-repeat center center ; 
}
.carousel-caption{
 opacity:1;
background-color:#777777;
    color: #c7c7c7;
    width: 100%;
    position: absolute;
    left:0px;
    text-shadow: none;
    height: 100px;
    z-index: 4;
    bottom: -50px;
    padding: 5px 0 0 0;
}
.carousel-caption h3{
 padding: 0px;
    margin:0px;
    font-size: 18px;
        position: absolute;
}
.carousel-caption p{
    margin:0px;
    padding: 0px;
    font-size: 14px;
}
.carousel-caption a{
    color: #dc2829;
    font-size: 20px;
}
.carousel-indicators{
bottom: -110px;

    
    position: absolute;
}
.carousel-indicators li{  
    border-radius: 0;
        border: 2px solid #c7c7c7;

}
a.arrowleft {
    opacity: 0.9;
    background-color: #dc2829;
    color: #19191a;
    position: absolute;
    bottom:-100px;
    z-index: 2;
    font-size: 25px;
    height:100px;
}
a.arrowright {
    opacity: 0.9;
    background-color: #dc2829;
    color: #19191a;
    position: absolute;
    right: 0px;
    bottom:-100px;
    z-index: 2;
    font-size: 25px;
    height:100px;
}
a.arrowleft span{
 padding: 36px 0 0 3px;   
}
a.arrowright span{
 padding: 36px 3px 0 0;   
}
.modal-header{
 border-bottom: 4px solid #19191a;  
    height: 60px;
    padding: 10px;
}
.modal-header h4{
font-size:24px;
    margin:3px;
    color:#19191a;
    
}
.modal-header a span{
    float: right;
    font-size: 20px;
     color:#19191a;
    margin:8px 3px 0 0;
    
}
.modal-footer{
     border-top: 4px solid #19191a;   
    height:60px;
    padding: 10px;

}
.modal-content{
 margin-top:50px;
    background-color:#c7c7c7;
    border-radius:0;   
}

.modal{
 opacity: 1;   
}
@media all and (max-width: 768px) 
{
   .carousel-inner .item {
          height:400px;
}
    .carousel-caption h3{
        margin-top: 12px;
 font-size: 16px;
}
.carousel-caption p{
 display: none;
}
    .modal-header h4{
font-size:18px;
        margin-top: 7px;
}
}    
/********************* CONTACT *********************/

/*LITLEQUOTATION*/
#litlequotation{
    width: 100%;
    min-height: 60px;
    background-color:#7a1617; 
    color: #19191a;
        font-weight:bold;
    text-align: center;
    padding: 5px;
}
#litlequotation p{
    margin: 10px;
    font-size: 14px;
}
#litlequotation img{
    width: 15px;
}
#litlequotation img.left{
    float: left;
}
#litlequotation img.right{
    float:right;
}
@media all and (max-width: 768px){

    #litlequotation p{
    line-height: 16px;
}}
@media all and (max-width: 768px){
#litlequotation img{
    width:12px
}}
#arrowquotation{
    text-align: center;
    margin-top: -8px;
    color: #7a1617;
    font-size: 24px;
    margin-bottom: -10px;

}
#arrowquotation span{
    margin: 0px;
        padding:0px;
}
/*FORM*/
#input{
    height: 40px; 
    margin-bottom: 12px;
    border: 4px solid #777777;
}
#textarea{
     height: 200px;
    margin-bottom: 12px;
        border: 4px solid #777777;
}
@media all and (max-width: 768px) 
{
  #textarea{
     height: 100px;

}
}
form input, textarea{
        background-color: #19191a;
    width: 100%; 
    height: 100%;
    border:none;
    color: #c7c7c7;
    -webkit-appearance: none;
    border-radius: 0;
}
form textarea{
 padding-top:6px;   
}
input[type=submit] {
 background-color: #dc2829; 
    color: #19191a;
    height: 30px;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 100px;
  padding-top: 1px;
    font-weight: bold;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input, textarea {
    padding-left: 50px;    
}
.left-inner-addon i {
    top:0px;
    position: absolute;
    padding: 9px 0 0 10px;
    pointer-events: none;
    background-color:#777777;
    height: 100%;
    width: 36px;
    color: #19191a;
}
/* MAP */

#mapcanvas{
     height: 400px;
    background-color: #19191a;

   
}
@media all and (max-width: 768px) 
{
    #mapcanvas {
    height:300px;
        margin-bottom: 80px;
    }
}
/* TOP */
.top{
 background-color:#dc2829;
    width:30px;
    height: 30px;;
    bottom:0px;
    position:absolute;
    right:0;   
}
.top span{
    font-size: 26px;
    color:#19191a;
    font-weight:bolder;
    margin: 2px 0 0 2px;
    
}
