
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    background-color: #dc2829;
}
nav {
    font-family: 'Aldrich', sans-serif;
    font-weight:;
    font-size: 12px;
    margin-right: 0px;
}
.navbar-nav {
    float: right; 
}
.navbar-inverse{
   opacity: 0.9;
}
.navbar {
    border-bottom: none;
    -webkit-transition: .50s;
  -moz-transition: .50s;
  -ms-transition: .50s;
  -o-transition: .50s;
  transition: .50s;
}
/*
nav .active{
 background-image: url(../img/arrowactive.png) ;
background-repeat: no-repeat;
    background-position: bottom;
}
@media all and (max-width: 768px) 
{
    .active{
     background-image:none;
    }
}
*/
section {
 
    padding-top: 40px;
}
#titresection {
    font-family: 'Aldrich', sans-serif;
    color: #777777;
    text-align: center; 
    margin-top:25px;
    margin-bottom: 5px;
    font-size: 24px;
    padding: 0px;
}
#titresection img{
    height: 26px; 
    margin-right: 10px; 
    margin-top: -13px;
}
/*** HOME ***/
h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
    margin-left:auto;
    margin-right:auto;
    width: 300px;
    color: #19191a;
    font-size: 40px;
}
#title {
    height: 60%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: -1;
    background-image: url(../img/bg6.png);
    font-family: 'Aldrich', sans-serif;
}
@media all and (max-width: 768px) 
{
    #title{
     height:50%;
    }
}
#profil {
    background-color: #19191a;
    height: 40%;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0px;
}
@media all and (max-width: 768px) 
{
    #profil{
     height:50%;
    }
}
#content {
    z-index: 1;
    position: relative;
    background-color: #19191a;
    padding: 0px;
  
}
div#quotation {
    background-color: #7a1617;
    margin-top: 20px;
    min-height: 110px;
    color:#c7c7c7;
    padding: 5px;
}
@media all and (max-width: 768px) 
{
    div#quotation {
        top: -95px;
        min-height:100px;
        
    }
}
#quotation p{
margin:18px 20px 0px 30px;
}
@media all and (max-width: 768px) 
{
    #quotation p{
      margin:20px;
    }
}
div#photo {
    width: 200px;
    padding: 0px;
    top: -50px;
    

}
@media all and (max-width: 768px) 
{
    div#photo {
    width: 100%;
    top: -75px; 
        left: -10px;
    }
}

img#photo {
    height:200px;
    width: 200px;
    border: 20px solid #19191a;
}
@media all and (max-width: 768px) 
{
    img#photo {
    height:150px;
    width:150px;
    border: 10px solid #19191a;

    }
}
#shadowphoto{

height:40px;
    width: 200px;
    top:-290px;
    background-image: url(../img/shadowphoto.png)
}
@media all and (max-width: 768px) 
{
   #shadowphoto{
    display: none;
}
}

/*** EXPERIENCE ***/
.panel-title{
    background-color: #7a1617;
    margin: 10px 0 2px 0;
    color: #c7c7c7;
}
.panel-body{
    background-color: #7a1617;
    margin: 0px;
}

/*** COMPETENCES ***/
#ctg-title{text-align: center;}
#ctg-title h4{background: #7a1617;color:#19191a;font-weight:bold;margin:0px;margin-top:5px;}
#sstitle{
    text-align: center;
}
#sstitle h4{
      background-color: #777777;
    color: #19191a;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
}
#ctg{
 border: 0px solid #7a1617;
    border-top:none;
    margin-bottom: 40px;
}
#infos{height:250px;}
#infos,#qualites,#outils{padding: 10px 10px 0px 10px;}
#infos p{; color:#C7C7C7;font-size: 14px;margin-bottom: 2px;
}
#infos li{ 
    color: #777777; 
    list-style-type: square; 
   }

#qualites p{
    color: #c7c7c7;
 
}
#qualites span{
    float: right;
}
#qualites img{
 height: 15px; 
     margin-top: -5px;
}


/*** PORTFOLIO ***/


.carousel-inner .item {
    width: 100%;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ad1 {
    background: url(../img/1.jpg) no-repeat center center ; 
}
.ad2 {
    background: url(../img/2.jpg) no-repeat center center; 
}
.ad3 {
    background: url(../img/3.jpg) no-repeat center center ; 
}
.ad4 {
    background: url(../img/4.jpg) no-repeat center center ; 
}
.carousel-caption{
 opacity:0.9;
background-color:#19191a;
    color: #c7c7c7;
}

/*** CONTACT MAIL ***/
#litlequotation{
    width: 100%;
    min-height: 60px;
    background-color:#7a1617; 
    color: #c7c7c7;
    text-align: center;
    padding: 5px;
}
#litlequotation p{
    margin: 10px;
    
}
#arrowquotation{
        text-align: center;
margin-top: -4px;
    margin-bottom: 5px;
}
#input{
    height: 40px; 
    margin-bottom: 10px;

    border: 4px solid #777777;
}
#textarea{
     height: 200px;
    margin-bottom: 10px;
        border: 4px solid #777777;
}
@media all and (max-width: 768px) 
{
  #textarea{
     height: 100px;

}
}
form input, textarea{
        background-color: #19191a;
    width: 100%; 
    height: 100%;
    border:none;
    color: #c7c7c7;
}
form textarea{
 padding-top:6px;   
}
input[type=submit] {
 background-color: #dc2829; 
    color: #19191a;
    height: 40px;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 100px;
    border: 4px solid #dc2829;
-webkit-transition: .50s;
  -moz-transition: .50s;
  -ms-transition: .50s;
  -o-transition: .50s;
  transition: .50s;
}
input[type=submit]:hover{
    border: 4px solid #dc2829;
     background-color: #19191a; 
    color: #dc2829;
    height: 40px;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 100px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input, textarea {
    padding-left: 50px;    
}
.left-inner-addon i {
    top:0px;
    position: absolute;
    padding: 9px 0 0 10px;
    pointer-events: none;
    background-color:#777777;
    height: 100%;
    width: 36px;
}
/*** CONTACT MAP ***/

#mapcanvas{
     height: 400px;
    background-color: #19191a;
   
}
@media all and (max-width: 768px) 
{
    #mapcanvas {
    height:300px;
    }
}
